/** Start with overall classes and settings */

html {
    scroll-behavior: smooth;
}

section {
    padding: 64px 32px 64px 32px;
}

.section-title {
    padding: 4px;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 54px;
    color: #000;
}


/** Navbar */
#top-nav .navbar-brand {
    color: #000;
    font-size: 24px;
}

.nav-link {
    font-weight: 600;
color: #000;
}

.nav-item {
padding-left: 8px;
padding-right: 8px;
margin-left: 4px;
margin-right: 4px;
border-radius: 24px;
}

.nav-item:hover {
    background: black;
}
.nav-item:hover .nav-link{
    color: white !important;
}

/* .nav-link::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #6173f4;
    display: block;
} */

.intro-imgs {
    width: 100%;
}

/** ---- Carousel  ---- **/

/* .carousel-control-prev-icon, .carousel-control-next-icon {
    width: 40px;
    height: 40px;
} */

/* Custom animation */
.to-animate {
    opacity: 0;
    margin-bottom: -24px;
    transition: all 1s;
}

.active .to-animate {
    opacity: 1;
    margin-bottom: 0;
}


/** Products */
/* #intro .pro-intro {} */

.pro-intro-head {
    padding: 12px;
    text-align: center;
    font-weight: 800;
    font-size: 64px;
    margin: 32px 0;
}

.pro-intro-list {
    padding: 48px 0;
}

.our-logo {
    width: 30vh;
}

#pros {
    background: #f0f0f0;
}

#pros .card {
    width: 100%;
    margin: auto;
    margin: 12px;
    height: 100%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.card-img-top {
    width: 80%;
    margin: 12px auto;
}

.chain-img {
    width: 90%; /* Changable */
}

.chain-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chain-row {
    text-align: center;
}

#chain-column .chain-row:nth-of-type(1) {
    flex-flow: row;
}
#chain-column .chain-row:nth-of-type(2) {
    flex-flow: row-reverse;
}


#left-img {
    margin: auto;
    width: 60%;
    border-radius: 50%;
}

#left-heading {
    padding-top: 48px;
    color: #37750d !important;
    font-style: italic;
    font-weight: 600px;
}
